@model IEnumerable<WebBanHangOnline.Models.EF.ReviewProduct>

<div class="tab_title reviews_title">
    <h4>Lượt đánh giá (@ViewBag.Count)</h4>
</div>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="user_review_container d-flex flex-column flex-sm-row">
            <div class="review">                
                <div class="user_name">@item.FullName</div>
                <div class="review_date">@item.CreatedDate.ToString("dd-MM-yyyy")</div>
                    <ul class="star_rating" style="margin:0 5px;">
                        @Html.Raw(WebBanHangOnline.Common.Common.HtmlRate(item.Rate))
                    </ul>              
                <p>@item.Content</p>
            </div>
        </div>
    }
}
