@model WebBanHangOnline.Models.EF.ReviewProduct

<div class="add_review">
    @if (User.Identity.IsAuthenticated)
    {
        <text>
            @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "OnSuccessRE",
                OnFailure = "OnFailureRE",
                OnBegin = "OnBeginRE"
            }, new { @Id = "review_form" }))
            {
                @Html.AntiForgeryToken()
                <script>
                    function OnBeginRE() {
                        $('#review_submit').attr("disabled", "disabled");
                        $('#load_send').html('<h2>Đang gửi....</h2>');
                    }

                    function OnSuccessRE(res) {
                        if (res.Success) {
                            $("#review_form")[0].reset();
                            loadReview(@ViewBag.ProductId); // GỌI AJAX LOAD LẠI REVIEW
                            $('#review_submit').removeAttr("disabled");
                            $('#load_send').html('');
                        }
                    }

                    function loadReview(productId) {
                        $.ajax({
                            url: '/Review/_Load_Review',
                            type: 'GET',
                            data: { productId: productId },
                            success: function (res) {
                                $("#load_review").html(res); // Đảm bảo DIV id="load_review" có trong View
                            }
                        });
                    }
                </script>

                <div>
                    <h1>Thêm đánh giá</h1>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "Tên của bạn", @id = "review_name", @readonly = "readonly" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "Email*", @id = "review_email", @readonly = "readonly" })
                    @Html.HiddenFor(x => x.UserName)
                    @Html.HiddenFor(x => x.ProductId, new { @Value = ViewBag.ProductId })
                    <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden;" />
                </div>

                <div>
                    <h1>Đánh giá của bạn:</h1>
                    <ul class="user_star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    @Html.TextAreaFor(x => x.Content, new { @class = "input_review", @rows = "4", @placeholder = "Đánh giá của bạn" })
                </div>

                <div class="text-left text-sm-right">
                    <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gửi đánh giá</button>
                    <div id="load_send"></div>
                </div>
            }
        </text>
    }
    else
    {
        <div class="alert alert-warning">
            Vui lòng <a href="@Url.Action("Login", "Account")">đăng nhập</a> để gửi đánh giá.
        </div>
    }
</div>
